<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name = "Sample test Suite">
   <test name = "Sample test">
      <classes>
         <class name = "com.training.sanity.tests.LoginTests" />
         <class name = "com.training.sanity.tests.ELTC_051_Userlist" />
         <class name = "com.training.sanity.tests.ELTC_052_SessionCategories" />
         <class name = "com.training.sanity.tests.ELTC_053_Reporting" />
         <class name = "com.training.sanity.tests.ELTC_054_Teachers" />
         <class name = "com.training.sanity.tests.ELTC_055_Careers" />
      </classes>
   </test>
</suite>	